@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@600&family=Roboto&display=swap');

*{
  margin:0;
  padding:0;
}

html{
  height:100%;
}
body{
  background-image: url(bun.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-wrapper{
	max-width:auto;
	margin:auto;
	padding:20px;
}
.nav{
  display:flex;
}
.nav ul {
	margin:0 3rem 0 0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0%;
  justify-content:space-evenly;
  font-size: 1.3em;
}
a{
  text-decoration: none;
  color: #383D59;
  font-family: 'Roboto', sans-serif;
}
.content{
  margin-top: 90px;
  margin-left: 100px;
  position: relative;
}

h1{
  font-size: 6em;
  margin-bottom:30px;
  color:white;
  text-shadow: 2px 2px 8px #030C40;
  font-family: 'Pacifico', cursive;
}


h2{
  margin-bottom:50px; 
  color: #04115c;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

input{
  height: 42px;
  width: 112px;
  border:none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}